<launch>
  <node name="a_a_action_server" pkg="a_a_action_server" type="action_server.py" output="screen"/>
  <node name="a_b_action_server" pkg="a_b_action_server" type="action_server.py" output="screen"/>
  <node name="a_halt_action_server" pkg="a_halt_action_server" type="action_server.py" output="screen"/>
</launch>
